In [1]:
import pickle as pkl
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
import sklearn

In [2]:
# Reading final_train dataset that will be used in modelling
final_train = pd.read_csv('../data/final_train.csv',index_col ='SK_ID_CURR' )
display(final_train.head())

,REG_CITY_NOT_LIVE_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,DEF_30_CNT_SOCIAL_CIRCLE,FLAG_DOCUMENT_3,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,NAME_EDUCATION_TYPE,TARGET
SK_ID_CURR,,,,,,,,,,,
100002,0.0,0.083037,0.262949,0.139376,2.0,1.0,0.0,1.0,0.0,4.0,1
100003,0.0,0.311267,0.622246,0.473474,0.0,1.0,0.0,0.0,0.0,1.0,0
100004,0.0,0.362727,0.555912,0.729567,0.0,0.0,1.0,1.0,1.0,4.0,0
100006,0.0,0.536780,0.650442,0.551665,0.0,1.0,0.0,0.0,0.0,4.0,0
100007,0.0,0.382868,0.322738,0.551110,0.0,0.0,0.0,1.0,0.0,4.0,0

In [5]:
final_train.nunique(axis=0)

REG_CITY_NOT_LIVE_CITY           2
EXT_SOURCE_1                287940
EXT_SOURCE_2                120491
EXT_SOURCE_3                 61779
DEF_30_CNT_SOCIAL_CIRCLE        10
FLAG_DOCUMENT_3                  2
NAME_CONTRACT_TYPE               2
CODE_GENDER                      3
FLAG_OWN_CAR                     2
NAME_EDUCATION_TYPE              5
TARGET                           2
dtype: int64

In [4]:
# Splitting the data to train and test set
X = final_train.drop('TARGET',axis=1)
y = final_train['TARGET']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print('X_train shape:', X_train.shape,'\n'
      'X_test shape:', X_test.shape,'\n'
      'y_train shape:', y_train.shape,'\n'
      'y_test shape:', y_test.shape)

X_train shape: (215257, 10)
X_test shape: (92254, 10)
y_train shape: (215257,)
y_test shape: (92254,)

In [5]:
# Calling scaler
scaler = StandardScaler()

# Calling logistic regression model
log_reg = LogisticRegression(max_iter = 1000,class_weight='balanced')
# Fitting the model to X_train and y_train
log_reg.fit(scaler.fit_transform(X_train),y_train)

LogisticRegression(class_weight='balanced', max_iter=1000)

In [6]:
y_pred=log_reg.predict(scaler.fit_transform(X_test))

In [10]:
#Accuracy
metrics.accuracy_score(y_test,y_pred)

0.6833524833611551

In [17]:
filename = '../Home_Credit_Model.pkl'
pkl.dump(log_reg, open(filename, 'wb'))

In [2]:
import os
import sys
fil=open("../config/Python.txt","w+")
L=[sys.executable]
fil.writelines(L)
fil.close()

In [2]:
file1=open("../config/Libraries.txt","w+")
L=["scikit-learn=="+sklearn.__version__+"\n","pandas=="+pd.__version__+"\n","numpy=="+np.__version__]
file1.writelines(L)
file1.close()

In [9]:
os.path.dirname(sys.executable)

'D:\\Analytics\\anaconda3'

## Testing API results

In [9]:
pick=open("../Home_Credit_Model.pkl","rb")
model=pkl.load(pick)
pick.close()

In [34]:
X_test[0:20]

,REG_CITY_NOT_LIVE_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,DEF_30_CNT_SOCIAL_CIRCLE,FLAG_DOCUMENT_3,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,NAME_EDUCATION_TYPE
SK_ID_CURR,,,,,,,,,,
384575,0.0,0.675878,0.604894,0.000527,0.0,1.0,0.0,1.0,1.0,4.0
214010,0.0,0.430827,0.425351,0.712155,0.0,1.0,0.0,0.0,1.0,1.0
142232,0.0,0.527239,0.531760,0.207964,0.0,1.0,0.0,0.0,1.0,4.0
389171,0.0,0.681290,0.693521,0.614414,0.0,1.0,0.0,0.0,0.0,4.0
283617,0.0,0.654882,0.560690,0.636376,0.0,1.0,0.0,1.0,0.0,4.0
362171,0.0,0.573712,0.519127,0.104795,0.0,1.0,0.0,1.0,0.0,4.0
180689,1.0,0.714067,0.547963,0.554569,0.0,1.0,0.0,0.0,0.0,4.0
310328,0.0,0.353731,0.012588,0.490258,0.0,0.0,0.0,1.0,1.0,4.0
233043,0.0,0.655620,0.077535,0.633032,0.0,1.0,0.0,0.0,0.0,4.0
232220,0.0,0.497912,0.740082,0.496465,0.0,1.0,0.0,0.0,0.0,4.0
134561,0.0,0.345717,0.412734,0.639708,0.0,1.0,0.0,0.0,0.0,4.0
120952,0.0,0.373486,0.453070,0.243186,1.0,1.0,0.0,1.0,1.0,4.0
188909,0.0,0.722079,0.574664,0.180888,0.0,0.0,0.0,0.0,0.0,4.0
347275,0.0,0.345140,0.622996,0.332851,0.0,0.0,0.0,1.0,1.0,4.0
250804,0.0,0.369833,0.512841,0.221335,0.0,1.0,0.0,1.0,1.0,1.0
348749,1.0,0.453896,0.244008,0.272134,0.0,1.0,0.0,0.0,0.0,4.0
231383,0.0,0.671982,0.783828,0.678568,0.0,0.0,1.0,0.0,1.0,3.0
119647,0.0,0.484785,0.142871,0.486121,0.0,1.0,0.0,0.0,0.0,4.0
257374,0.0,0.352553,0.540488,0.533538,0.0,1.0,0.0,0.0,0.0,4.0
305211,0.0,0.873912,0.657271,0.403142,0.0,0.0,0.0,0.0,0.0,1.0

In [35]:
model.predict(X_test[0:20])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
      dtype=int64)

#### Values for testing single credit
Use row no 16 in X_test for 1(Loan Approved)
Anything else for 0(Loan Failed)

In [36]:
#File for testing bulk credit
X_test[0:20].to_csv("../data/test.csv")